body {
  font-family: 'Lato', sans-serif;
}

#header-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  font-size: 20px;
}

#header-principal .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #373C3F;
  color: #DADADA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  width: calc( 100% - 70px);
}

#header-principal .menu-movil {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202629;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
}

#header-principal .menu-movil a {
  color: #DADADA;
  text-decoration: none;
}

#header-principal .menu-expandido {
  display: none;
}

#sct-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1db4c5;
  background: linear-gradient(140deg, #1db4c5 0%, #0d8ba4 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sct-1 .info {
  width: 70%;
}

#sct-1 .info h1 {
  font-size: 45px;
  margin-bottom: 30px;
}

#sct-1 .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sct-1 .info div h2 {
  color: #DADADA;
  font-size: 25px;
}

#sct-1 .info div span {
  font-size: 35px;
}

#sct-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

#sct-2 div:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #27222C;
  color: #90829E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc( 100% - 100px);
}

#sct-2 div:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #BC3182;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
}

#galeria div {
  height: 500px;
}

#galeria div img {
  width: 100%;
}

#galeria div:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5B11A1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#galeria div:nth-child(2) {
  background-image: url("../imgs/img2.jpg");
  background-position: center;
  background-size: cover;
}

#galeria div:nth-child(3) {
  background-image: url("../imgs/img3.jpg");
  background-position: center;
  background-size: cover;
}

@media all and (min-width: 980px) {
  #header-principal .logo {
    display: none;
  }
  #header-principal .menu-movil {
    display: none;
  }
  #header-principal .menu-expandido {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #373C3F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 5%;
    width: 100%;
  }
  #header-principal .menu-expandido a {
    color: #DADADA;
    margin-right: 4%;
    text-decoration: none;
  }
  #galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #galeria div {
    width: 100%;
  }
}
/*# sourceMappingURL=base.css.map */